.category
	&-button
		padding 0 3px
		picture
			margin 0 auto
			img
				width 100%
				height 120px
	&-images
		display flex
		flex-wrap wrap
		justify-content space-around
		&-item
			width 45%
			padding 3% 0
			display flex
			flex-wrap wrap
			align-items center
			justify-content space-between
			img
				width 100%
			&-link
				background-color #c3c3c3
			&-info
				width 70%
				margin 0
				&-material
					margin 0 auto
					font-size 1.1rem
				&-price
					font-size 1.5rem
			&-marketcar
				width 15%
	&-social
		padding 10% 0
		width 100%
		margin 0 auto
		display flex
		justify-content center
		&-icon
			-webkit-filter grayscale(1)
		&-icon:hover
			-webkit-filter none
		img
			width 70%
				

@media (min-width 668px)
	.category
		display flex
		flex-wrap wrap
		&-button
			display flex
			width 100%
			order 1
			justify-content center
			align-items center
			picture
				margin 0 3px
				img
					border none
		&-images
			display flex
			flex-wrap wrap
			width 85%
			order 3
			&-item
				justify-content space-between
				width 18%
				&-info
					width 55%
					&-material
						font-size 1rem
					&-price
						font-size 1.5rem
				&-marketcar
					width 15%
		&-social
			width 10%
			padding 0
			margin 0
			order 2
			flex-direction column
			text-align center
			img
				width 30%
				padding 4% 0