.faq
	font-family verdana
	width 97%
	margin 2%
	text-align justify
	&-title
		text-align center
		margin 2% 0
	&-item
		margin 2%
	&-paragraf
		&-bold
			font-weight 700

@media (min-width 768px)
	.faq
		color black
		