.faq
	font-family verdana
	width 97%
	margin 2%
	text-align justify
	&-title
		text-align center
		margin 2% 0
	&-subtitle
		margin 2% 0
	&-item
		margin 2%
	&-paragraf
		&-bold
			font-weight 700
	&-ulist
		margin 5%
	&-olist
		margin 5%
		&-item
			margin 3%
	&-table
		width 100%
		&-image
			img
				width 100%
				margin 3% 0
.cursive
	font-style oblique

@media (min-width 768px)
	.faq
		width 70%
		margin 0 15%
		&-ulist
			margin 2% 5%
		&-table
			&-image
				display flex
				flex-wrap wrap
				justify-content space-around
				&-photo
					width 40%
