.footer
	background-color black
	padding 10px 0
	color #807A79
	font-family 'Roboto Slab', serif
	font-size 10px
	font-weight 700
	letter-spacing 0.5px
	text-align center

@media (min-width 768px)
	.footer
		background-color white