.header
	width 100%
	padding 10px 3px 3px 3px
	background-color white
	box-sizing border-box
	&-interaction
		margin 0 auto
		width 100%
		background-color white
		&-logo
			width 100%
		&-mobile
			width 100%
			display flex
			justify-content space-between
			align-items center
			&--light
				width 100%
				display flex
				justify-content space-between
				align-items center
				position fixed
				top 0
				left 0
				z-index 10
				background-color black
				color white
			&-menu
				width 25%
				display flex
				order 1
				justify-content space-around
				&-title
					width 50%
					text-align center
					margin 5% 0
					font-size 1.5rem
				&-button
					width 50%
					background-color white
					border-style none
			&-choice
				display flex
				flex-wrap wrap
				order 2
				&-finder
					display flex
					&-lupa
						width 30px
						height 5vh
						order 2
					&-box
						border-style none
						order 1
						margin-rigth 10%
					&-box:focus
						background-color #DCD8D8
				&-marketcar
					width 30px
					height 5vh
			&-nav
				display none
	&-nav
		margin-top 10px
		background-color #DCD8D8
		width 98%
		&-list
			font-weight 700
			list-style-type none
			width 100%
			overflow hidden
			transition height 0.5s ease
			height 0
			&-item
				a
					text-decoration none
					color black
					padding 0.8rem
					display block
				a:hover
					background-color #A7A2A2
			&--show
				font-size 1.1rem
				height 195px

@media (min-width 768px)
	.header
		&-interaction
			display flex
			align-items center
			&-logo
				padding-left 10%
			&-mobile
				display flex
				flex-direction column
				&-menu
					order 2
					width 100%
					&-title
						font-size 2rem
						width 60%
						text-align end
						padding-left 18%
					&-button
						width 20%
				&-choice
					order 1
					align-content space-around
					padding-bottom 10%
					&-finder
						width 80%
						&-box
							width 80%
						&-lupa
							width 15%
							margin 0 5%
							height 25px
					&-marketcar
						width 15%
						height 25px
		
@media (min-width 1024px)
	.header
		&-interaction
			display flex
			&-mobile
				align-items flex-end
				height 100%
				&-menu
					display none
				&-choice
					width 50%
					order 1
				&-nav
					display block
					order 2
					&-list
						list-style-type none
						width 100%
						text-align end
						&-item
							a
								font-size 1.5rem
								font-weight 700
								text-decoration none
								color black
								padding 0.3rem
								display block