.header
	width 100%
	padding 10px 3px 3px 3px
	background-color white
	box-sizing border-box
	&-interaction
		margin 0 auto
		width 100%
		background-color white
		&-logo
			width 100%
		&-mobile
			width 100%
			display flex
			justify-content space-between
			align-items center
			&--light
				width 100%
				display flex
				justify-content space-between
				align-items center
				position fixed
				top 0
				left 0
				z-index 10
				background-color black
				color white
				padding 2% 0
			&-menu
				width 50%
				display flex
				order 1
				justify-content space-around
				&-title
					width 50%
					text-align center
					margin 5% 0
					font-size 1.5rem
					box-sizing border-box
				&-button
					width 50%
					border-style none
					padding 0
					margin 0 auto
					background-color white
					img
						width 70%
						box-sizing border-box
					&--light
						background-color black
			&-choice
				display flex
				order 2
				width 100%
				height 33px
				justify-content space-around
				&-finder
					display flex
					width 80%
					&-lupa
						width 30px
						order 2
						transform scaleX(-1)
					&-box
						border-style none
						order 1
						margin-rigth 10%
						width 100%
					&-box:focus
						background-color #DCD8D8
				&-market
					display flex
					border solid 1px black
					border-radius 10px
					margin-left 5px
					background-color white
					&-marketbox
						margin 10% 0
					&-marketcar
						margin 3px
						width 25px
						height 25px
			&-nav
				display none
	&-nav
		background-color #DCD8D8
		width 98%
		position absolute
		z-index 2
		&-list
			font-weight 700
			list-style-type none
			width 100%
			overflow hidden
			transition height 0.5s ease
			height 0
			&-item
				a
					text-decoration none
					color black
					padding 0.8rem
					display block
				a:hover
					background-color #A7A2A2
				&-subnav
					width 100%
					transition height 0.5s ease
					height 0
					background-color #CAC6C6
					overflow hidden
					position absolute
					z-index 2
					&-subitem
						a
							padding 0.4rem 2rem
				&-subnav-show
					height 105px
					&-subitem
						display flex
						a
							padding 0.4rem 2rem
				&-subnav2
					transition height 0.5s ease
					width 100%
					height 0
					background-color #CAC6C6
					overflow hidden
					position absolute
					z-index 2
					&-subitem2
						a
							padding 0.4rem 2rem
				&-subnav2-show
					height 40px
					&-subitem2
						display flex
						a
							padding 0.4rem 2rem
			&--show
				font-size 1.1rem
				height 200px

@media (min-width 768px)
	.header
		&-interaction
			display flex
			align-items center
			&-logo
				padding-left 15%
				width 80%
			&-mobile
				display flex
				flex-direction column
				&-menu
					order 2
					width 100%
					&-title
						font-size 2rem
						width 60%
						text-align end
					&-button
						width 20%
				&-choice
					order 1
					align-content space-around
					padding-bottom 10%
					margin-right 15%
					&-finder
						&-box
							width 80%
						&-lupa
							margin 0 5%
		&-nav
			width 40%
			right 0
		
@media (min-width 1124px)
	.header
		&-interaction
			display flex
			&-mobile
				align-items flex-end
				height 100%
				&-menu
					display none
				&-choice
					order 1
					margin-right 10%
				&-nav
					display block
					order 2
					margin-right 10%
					&-list
						list-style-type none
						width 100%
						text-align end
						&-item
							a
								font-size 1.5rem
								font-weight 700
								text-decoration none
								color black
								padding 0.3rem
								display block
							&-subnav
								display none
								position absolute
								z-index 2
								background-color white
								list-style-type none
								width 186.86px
								background-color #CAC6C6
								text-align start
						&-item:hover
							background linear-gradient(to right, #3E3A3A, white)
							ul
								display block
								a:hover
									background linear-gradient(to right, #3E3A3A, white)
									
						#acerca:hover
							ul
								display block