.content
	padding 0 3px
	&-images
		padding 0 3px
		picture
		margin 0 auto
		&-category
			img
				width 100%
	&-maps
		padding 0 3px
		box-sizing border-box
		display block
		text-align center
		max-width 1000px
		&-control
			width 100%
	&-social
		padding 10% 0
		width 100%
		margin 0 auto
		display flex
		justify-content center
		&-icon
			-webkit-filter grayscale(1)
		&-icon:hover
			-webkit-filter none
		img
			width 70%

@media (min-width 768px)
	.content
		display flex
		margin 0 auto
		flex-wrap wrap
		justify-content space-around
		&-images
			display flex
			width 89%
			order 2
			justify-content space-between
			align-items center
			picture
			margin 0 3px
			&-category
				transition all 0.9s ease
				width 33%
			img
				border none
		&-maps
			display flex
			flex-wrap wrap
			width 100%
			margin 0 1%
			order 3
			padding-top 5%
		&-social
			width 10%
			padding 0
			margin 0
			order 1
			flex-direction column
			text-align center
			img
				width 30%
				padding 4% 0