.content
	padding 0 3px
	&-images
		padding 0 3px
		picture
		margin 0 auto
		&-category
			img
				width 100%
	&-news
		padding 0 3px
		box-sizing border-box
		display block
		text-align center
		max-width 1000px
		&-first
			background-color black
			width 100%
		&-second
			background-color yellow
			width 100%
		&-third
			background-color green
			width 100%
	&-maps
		padding 0 3px
		box-sizing border-box
		display block
		text-align center
		max-width 1000px
		&-title
			margin-top 5%
		&-control
			width 100%
		&-description
			font-size 1.4rem
	&-icons
		display flex
		flex-wrap wrap
		margin-top 10%
		justify-content center
		&-button
			margin 5%
			&-link
				&-text
					display none
				&-more
					display none
	&-social
		padding 10% 0
		width 100%
		margin 0 auto
		display flex
		justify-content center
		&-icon
			-webkit-filter grayscale(1)
		&-icon:hover
			-webkit-filter none
		img
			width 70%
.guide
	display flex
	flex-wrap wrap
	text-decoration none
	margin-left 2%
	&-home
		text-decoration none
		color black
	&-button
		text-decoration none
		color black
		margin-left 1%

@media (min-width 768px)
	.content
		display flex
		margin 0 auto
		flex-wrap wrap
		justify-content space-around
		&-images
			display flex
			width 89%
			order 2
			justify-content space-between
			align-items center
			picture
			margin 0 3px
			&-category
				transition all 0.9s ease
				width 33%
			img
				border none
		&-news
			display flex
			flex-wrap wrap
			width 100%
			margin 0 1%
			order 3
			padding-top 5%
			&-first
				width 50%
			&-second
				width 50%
			&-third
				width 100%
		&-maps
			display flex
			flex-wrap wrap
			width 100%
			margin 0 1%
			order 3
			padding-top 5%
			&-title
				width 100%
			&-description
				width 100%
		&-icons
			width 60%
			margin 0
			order 4
			justify-content space-between
			&-button
				display flex
				flex-wrap wrap
				width 30%
				margin 5% 0
				&-link
					display flex
					flex-wrap wrap
					text-decoration none
					width 100%
					text-align justify
					justify-content space-between
					font-family arial
					align-items center
					img
						width 40%				
					&-text
						display block
						text-decoration none
						color black
						width 55%
						font-size 0.6rem
					&-more
						color blue
						display block
		&-social
			width 10%
			padding 0
			margin 0
			order 1
			flex-direction column
			text-align center
			img
				width 30%
				padding 4% 0
	.guide
		margin-left 10%
		margin-bottom 0.3%