@import "./reset"
@import "./normalize.css"
@import "./header"

body
	font-family caveat
	font-size 16px
	color black
.header
	background-color green
	height 30vh	
	width 98%
	padding 3px
	position fixed
	top 0
	left 0
	z-index 10
	&-logo
		width 100%
	&-mobile
		display flex
		justify-content space-between
		&-menu
			display flex
			background-color yellow
			order 1
			&-button
				
			&-nav
				background-color red
				&-list
					list-style-type none
					height 0
					width 0
					overflow hidden
					&-item
						a
							text-decoration none
							color black
		&-choice
			display flex
			order 2
			&-finder
				display flex
				&-lupa
					width 30px
					height 30px
					order 2
				&-box
					order 1
			&-marketcar
				width 30px
				height 30px

	
@media (min-width 450px)
	.header
		background-color blue