.product
	position absolute
	background-color #FFF
	z-index 3
	&-close
		text-decoration none
		h1
			text-align end
			margin 0 2%
			font-size 3rem
			font-family verdana
			color black
	&-images
		display flex
		flex-wrap wrap
		justify-content space-around
		&-item
			width 100%
			display flex
			flex-wrap wrap
			align-items center
			justify-content space-between
			transition all linear 500ms
			img
				width 100%
			&-link
				background-color #c3c3c3
			&-info
				width 70%
				margin 0 2%
				&-material
					margin 0 auto
					font-size 1.1rem
				&-price
					font-size 1.5rem
			&-marketcar
				width 10%
				margin 2%
		&-control
			width 100%
			text-align center
			font-size 1rem
			a
				text-decoration none
				border 3px solid black
				border-radius 20px
				padding 0 1%
				margin 0 2%
			a:hover
				background-color red
			a:focus
				background-color blue
	&-description
		margin 5% 2%
		&-title
			font-size 1.2em
		&-paragraf
			font-family 'Roboto Slab', serif
			font-size 0.7rem
			text-align justify
.gallery
	display none
	background-color rgba(206, 206, 206, 0.96)
	&-images-item
		position relative
		height 320px
		picture
			position absolute
			transition all linear 500ms
			max-height 70vh
			width 100%
			img
				max-height 70vh

#itemView2, #itemView3, #itemView4
	display none
			
@media (min-width 668px)
	.product
		&-images
			&-item
				justify-content space-between
				&-info
					width 55%
					&-material
						font-size 2rem
					&-price
						font-size 2rem
				&-marketcar
					width 10%
	.gallery
		width 50%
		padding 0 25%
		&-images-item
			height 600px