.product
	position absolute
	background-color #FFF
	z-index 3
	font-family helvetica
	&-close
		text-decoration none
		display flex
		justify-content flex-end
		margin-left 70%
		margin-top 5%
		width 30%
		position fixed
		z-index 20
		h1
			text-align end
			margin 0 2%
			font-size 1rem
			font-family helvetica
			color black
	&-images
		display flex
		flex-wrap wrap
		justify-content space-around
		&-item
			width 100%
			display flex
			flex-wrap wrap
			align-items center
			justify-content space-between
			transition all linear 500ms
			img
				width 100%
			&-link
				background-color #c3c3c3
			&-info
				width 100%
				margin 0 2%
				&-price
					margin 0 auto
					font-size 1rem
				&-material
					margin 0 auto
					font-size 0.8rem
				&-description
					margin 0 auto
					font-size 0.8rem
				&-name
					margin 0 auto
					font-size 0.8rem
				&-available
					margin 4% 0
					font-size 0.8rem
					font-weight 700
					&-colorbox
						display flex
						flex-wrap wrap
						align-items center
						margin 0.5% 0
						&-negro
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color black
							color white
							width 20%
						&-tabaco
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color #9e4a23
							color white
							width 20%
						&-rojo
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color red
							color white
							width 20%
						&-azul
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color #133b80
							color white
							width 20%
						&-beige
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color black
							width 20%
						&-cafe
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color #8c5548
							color white
							width 20%
						&-vinotinto
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color #a51515
							color white
							width 20%
						&-salmon
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color red
							width 20%
						&-palorosa
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color pink
							width 20%
						&-fucsia
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color fuchsia
							width 20%
						&-combinado
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							width 20%
							border-style ridge
						&-dorado
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color #dec74b
							width 20%
						&-verde
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color #6dbab4
							width 20%
						&-miel
							padding 1% 2%
							margin 0.5% 0.5% 0.5% 3%
							background-color #FF9B02
							width 20%
				&-size
					margin-left 3%
					width 60%
					font-size 0.9rem
					font-weight 700
				&-description
					display flex
					flex-wrap wrap
					justify-content space-between
			&-marketcar
				width 10%
				margin 2%
		&-control
			display none
			width 100%
			text-align center
			font-size 1.5rem
			color black
			font-weight 700
			a
				text-decoration none
				margin 0 2%
			a:hover
				color #A7A2A2
			a:focus
				color #A7A2A2
	&-description
		margin 4% 2%
		width 97%
		&-title
			font-size 1rem
		&-list-step
			font-size 1rem
			text-align justify
	&-paybutton
		text-align center
.product-form
		background-color gray
.gallery
	width 100%
	display none
	background-color #FFF
	&-images-item
		position relative
		picture
			transition all linear 500ms
			width 100%
			padding 0
	&-recomendation
		font-size 0.5rem			
@media (min-width 668px)
	.product
		&-close
			position fixed
			top -40px
			margin-left 40%
			margin-top 5%
			h1
				font-size 1.5rem
		&-images
			&-item
				justify-content space-between
				&-info
					width 100% /*Con carro de compras el widht es 55%*/
				&-marketcar
					width 7%
		&-description
			margin 2%
			width 100%
			&-paragraf
				font-family 'Roboto Slab', serif
				font-size 1rem
				text-align justify
	.gallery
		width 50%
		padding 0 25%