.product
	position absolute
	background-color #FFF
	z-index 3
	&-close
		text-decoration none
		display flex
		justify-content flex-end
		margin-left 70%
		margin-top 5%
		width 30%
		h1
			text-align end
			margin 0 2%
			font-size 1rem
			font-family verdana
			color black
	&-images
		display flex
		flex-wrap wrap
		justify-content space-around
		&-item
			width 100%
			display flex
			flex-wrap wrap
			align-items center
			justify-content space-between
			transition all linear 500ms
			img
				width 100%
			&-link
				background-color #c3c3c3
			&-info
				width 70%
				margin 0 2%
				&-material
					margin 0 auto
					font-size 1.1rem
				&-price
					font-size 1.5rem
			&-marketcar
				width 10%
				margin 2%
		&-control
			width 100%
			text-align center
			font-size 1.5rem
			color black
			font-weight 700
			a
				text-decoration none
				margin 0 2%
			a:hover
				color #A7A2A2
			a:focus
				color #A7A2A2
	&-description
		margin 0 2%
		width 100%
		&-title
			font-size 1.2em
		&-paragraf
			font-family 'Roboto Slab', serif
			font-size 0.7rem
			text-align justify
.gallery
	width 100%
	display none
	background-color rgba(255, 255, 255, 0.88)
	&-images-item
		position relative
		height 130vh
		picture
			position absolute
			transition all linear 500ms
			max-height 70vh
			width 100%
#itemView2, #itemView34 #itemView4
	display none
			
@media (min-width 668px)
	.product
		&-images
			&-item
				justify-content space-between
				&-info
					width 100% /*Con carro de compras el widht es 55%*/
					&-material
						font-size 2rem
					&-price
						font-size 2rem
				&-marketcar
					width 7%
	.gallery
		width 50%
		padding 0 25%