.slidesjs-navigation
	display none

.slidesjs-pagination
	margin 7px 0 0
	float right
	list-style none

.slidesjs-pagination
	li
		float left
		margin 0 3px
	
.slidesjs-pagination
	li
		a
			display block
			width 13px
			height 0
			padding-top 13px
			background-image url("../img/gallery.png")
			background-position 0 0
			float left
			overflow hidden
		a.active
			background-position 0 -13px

@media (min-width 768px)
	.slide-view
		width 55%
		padding 0 22%
		background-color rgba(232, 232, 232, 0.96)